@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  background: #f7f8fa;
}

/* Scrollbar discreto para la tabla */
.table-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #d8dee8;
  border-radius: 8px;
}
.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}
